.main_content {
    display: flex;
    justify-content: space-around;
}
.content_item {
    text-align: center;
}
.preview_content {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto;
}
.preview_content canvas {
    border: 1px solid #ccc;
}
.preview_img {
    width: 100%;
    height: auto;
}
.square_group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}
.square_group .group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.square_group .group_sum {
    height: 100%;
}
.square_group .group_sum .child {
    width: 100%;
}
.square_group .child {
    background: #a0cfff;
    /* border: 1px solid #000; */
    transition: height .5s;
    opacity: .6;
}
.btn_group {
    /* display: flex;
    justify-content: center; */
    width: 150px;
    margin: 0 auto;
}
._input {
    display: none;
}
._btn {
    /* width: 150px; */
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #409eff;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
}
._btn:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
}